extends ./layout/common

block content
	.d-flex.align-items-center
		img(src='/images/flooop.png',class="border border-primary rounded-sm ", height = 75, width = 75)
		h1.ml-2 Hello #{author} Express JS