h1 Users

a(href='/users/create')  Create users

form(action='/users/search', method='GET')
	input(type='text', name='searchValue', value = searchValue)
	button Search

ul
	each user in users
		li
			span= user.name + ' - ' + user.phone +' - '+ user.email
			a(href='/users/'+user.id) View